In [285]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder, PolynomialFeatures
from sklearn.linear_model import LinearRegression
import tensorflow as tf
from tensorflow import keras
# Wczytanie danych z pliku csv
data = pd.read_csv('rowdata.csv')

In [286]:
onehot_encoder = OneHotEncoder()
crop_type_encoded = onehot_encoder.fit_transform(data[['CROP TYPE']])

In [287]:
crop_type_encoded

<2880x15 sparse matrix of type '<class 'numpy.float64'>'
	with 2880 stored elements in Compressed Sparse Row format>

In [288]:
label_encoder = LabelEncoder()
data['CROP TYPE'] = label_encoder.fit_transform(data['CROP TYPE'])

In [289]:
crop_type_encoded = pd.DataFrame(crop_type_encoded.toarray(), columns= label_encoder.classes_)

In [290]:
crop_type_encoded

,BANANA,BEAN,CABBAGE,CITRUS,COTTON,MAIZE,MELON,MUSTARD,ONION,POTATO,RICE,SOYABEAN,SUGARCANE,TOMATO,WHEAT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [291]:
data = data.drop('CROP TYPE', axis=1)
data = pd.concat([data, crop_type_encoded], axis=1)

In [292]:
data

,SOIL TYPE,REGION,TEMPERATURE,WEATHER CONDITION,WATER REQUIREMENT,BANANA,BEAN,CABBAGE,CITRUS,COTTON,MAIZE,MELON,MUSTARD,ONION,POTATO,RICE,SOYABEAN,SUGARCANE,TOMATO,WHEAT
0,DRY,DESERT,10-20,NORMAL,8.750,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,DRY,DESERT,10-20,SUNNY,10.250,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DRY,DESERT,10-20,WINDY,9.650,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,DRY,DESERT,10-20,RAINY,0.750,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,DRY,DESERT,20-30,NORMAL,9.850,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,WET,HUMID,30-40,RAINY,0.100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2876,WET,HUMID,40-50,NORMAL,4.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2877,WET,HUMID,40-50,SUNNY,6.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2878,WET,HUMID,40-50,WINDY,5.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2879,WET,HUMID,40-50,RAINY,0.200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [293]:
temperature_split = data['TEMPERATURE'].str.split('-', expand=True).astype(int)
print(temperature_split)
print(temperature_split.dtypes)
temperature_mean = temperature_split.mean(axis=1)
data['TEMPERATURE'] = temperature_mean

       0   1
0     10  20
1     10  20
2     10  20
3     10  20
4     20  30
...   ..  ..
2875  30  40
2876  40  50
2877  40  50
2878  40  50
2879  40  50

[2880 rows x 2 columns]
0    int64
1    int64
dtype: object

In [294]:
data

,SOIL TYPE,REGION,TEMPERATURE,WEATHER CONDITION,WATER REQUIREMENT,BANANA,BEAN,CABBAGE,CITRUS,COTTON,MAIZE,MELON,MUSTARD,ONION,POTATO,RICE,SOYABEAN,SUGARCANE,TOMATO,WHEAT
0,DRY,DESERT,15.0,NORMAL,8.750,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,DRY,DESERT,15.0,SUNNY,10.250,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DRY,DESERT,15.0,WINDY,9.650,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,DRY,DESERT,15.0,RAINY,0.750,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,DRY,DESERT,25.0,NORMAL,9.850,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,WET,HUMID,35.0,RAINY,0.100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2876,WET,HUMID,45.0,NORMAL,4.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2877,WET,HUMID,45.0,SUNNY,6.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2878,WET,HUMID,45.0,WINDY,5.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2879,WET,HUMID,45.0,RAINY,0.200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [295]:
np.unique(data['SOIL TYPE'].values)

array(['DRY', 'HUMID', 'WET'], dtype=object)

In [296]:
label_encoder = LabelEncoder()
data['SOIL TYPE'] = label_encoder.fit_transform(data['SOIL TYPE'])

In [297]:
data

,SOIL TYPE,REGION,TEMPERATURE,WEATHER CONDITION,WATER REQUIREMENT,BANANA,BEAN,CABBAGE,CITRUS,COTTON,MAIZE,MELON,MUSTARD,ONION,POTATO,RICE,SOYABEAN,SUGARCANE,TOMATO,WHEAT
0,0,DESERT,15.0,NORMAL,8.750,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,DESERT,15.0,SUNNY,10.250,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,DESERT,15.0,WINDY,9.650,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,DESERT,15.0,RAINY,0.750,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,DESERT,25.0,NORMAL,9.850,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,2,HUMID,35.0,RAINY,0.100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2876,2,HUMID,45.0,NORMAL,4.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2877,2,HUMID,45.0,SUNNY,6.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2878,2,HUMID,45.0,WINDY,5.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2879,2,HUMID,45.0,RAINY,0.200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [298]:
np.unique(data['REGION'].values)

array(['DESERT', 'HUMID', 'SEMI ARID', 'SEMI HUMID'], dtype=object)

In [299]:
label_encoder = LabelEncoder()
data['REGION'] = label_encoder.fit_transform(data['REGION'])

In [300]:
data

,SOIL TYPE,REGION,TEMPERATURE,WEATHER CONDITION,WATER REQUIREMENT,BANANA,BEAN,CABBAGE,CITRUS,COTTON,MAIZE,MELON,MUSTARD,ONION,POTATO,RICE,SOYABEAN,SUGARCANE,TOMATO,WHEAT
0,0,0,15.0,NORMAL,8.750,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,15.0,SUNNY,10.250,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,15.0,WINDY,9.650,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,15.0,RAINY,0.750,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,25.0,NORMAL,9.850,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,2,1,35.0,RAINY,0.100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2876,2,1,45.0,NORMAL,4.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2877,2,1,45.0,SUNNY,6.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2878,2,1,45.0,WINDY,5.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2879,2,1,45.0,RAINY,0.200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [301]:
np.unique(data['REGION'].values)

array([0, 1, 2, 3])

In [302]:
np.unique(data['WEATHER CONDITION'].values)

array(['NORMAL', 'RAINY', 'SUNNY', 'WINDY'], dtype=object)

In [303]:
label_encoder = LabelEncoder()
data['WEATHER CONDITION'] = label_encoder.fit_transform(data['WEATHER CONDITION'])

In [304]:
data

,SOIL TYPE,REGION,TEMPERATURE,WEATHER CONDITION,WATER REQUIREMENT,BANANA,BEAN,CABBAGE,CITRUS,COTTON,MAIZE,MELON,MUSTARD,ONION,POTATO,RICE,SOYABEAN,SUGARCANE,TOMATO,WHEAT
0,0,0,15.0,0,8.750,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,15.0,2,10.250,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,15.0,3,9.650,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,15.0,1,0.750,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,25.0,0,9.850,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,2,1,35.0,1,0.100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2876,2,1,45.0,0,4.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2877,2,1,45.0,2,6.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2878,2,1,45.0,3,5.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2879,2,1,45.0,1,0.200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [335]:
data.columns

Index(['Unnamed: 0', 'SOIL TYPE', 'REGION', 'TEMPERATURE', 'WEATHER CONDITION',
       'WATER REQUIREMENT', 'BANANA', 'BEAN', 'CABBAGE', 'CITRUS', 'COTTON',
       'MAIZE', 'MELON', 'MUSTARD', 'ONION', 'POTATO', 'RICE', 'SOYABEAN',
       'SUGARCANE', 'TOMATO', 'WHEAT'],
      dtype='object')

In [305]:
data.columns

Index(['SOIL TYPE', 'REGION', 'TEMPERATURE', 'WEATHER CONDITION',
       'WATER REQUIREMENT', 'BANANA', 'BEAN', 'CABBAGE', 'CITRUS', 'COTTON',
       'MAIZE', 'MELON', 'MUSTARD', 'ONION', 'POTATO', 'RICE', 'SOYABEAN',
       'SUGARCANE', 'TOMATO', 'WHEAT'],
      dtype='object')

In [306]:
data.to_csv('dataset.csv')

In [321]:
# Przygotowanie danych
data = pd.read_csv('dataset.csv')
X = data.drop('WATER REQUIREMENT', axis=1)
y = data['WATER REQUIREMENT'].values

In [322]:
len(X.columns)

20

In [323]:
X.shape[1]

20

In [324]:
# # Stworzenie modelu sieci neuronowej
# model = keras.Sequential()
# model.add(keras.layers.Dense(10, input_dim=X.shape[1], activation='relu'))
# model.add(keras.layers.Dense(8, activation='relu'))
# model.add(keras.layers.Dense(1, activation='linear'))

# # Kompilacja modelu
# model.compile(loss='mse', optimizer='adam')

In [325]:
# model.fit(X, y, epochs=100, batch_size=32, validation_data=(X, y))

In [326]:
from sklearn.model_selection import train_test_split

sample = np.array(X.iloc[1]).reshape(1, -1)
print(sample)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

[[ 1.  0.  0. 15.  2.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.]]

In [327]:
# prediction = model.predict(X_test)
# print(prediction)

In [328]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
# mae = mean_absolute_error(y_test, prediction)
# print("MAE:", mae)
# mse = mean_squared_error(y_test, prediction)
# print("MSE: ", mse)

In [329]:
# scaler = StandardScaler()
# X_scaled = scaler.fit_transform(X)

In [330]:
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [331]:
# scaled_sample = scaler.fit_transform(X_test)
regression_predict = model.predict(X_test)

In [332]:
mae_regression = mean_absolute_error(y_test, regression_predict)
print("MAE regression:", mae_regression)
mse_regression = mean_squared_error(y_test, regression_predict)
print("MSE regression: ", mse_regression)

MAE regression: 2.9064766260154378
MSE regression:  12.456183236700813

In [333]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=7, random_state=1, max_depth=20)
model.fit(X, y)

y_pred_forest = model.predict(X_test)

In [334]:
mae_forest = mean_absolute_error(y_test, y_pred_forest)
print("MAE forest:", mae_forest)
mse_forest = mean_squared_error(y_test, y_pred_forest)
print("MSE forest:", mse_forest)

MAE forest: 0.35670328542296553
MSE forest: 12.826072673155558